@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main-sector {
  height: 100%;
  width: 100%;
 
}
.Section-1 {
  height: 100%;
  width: 100%;
 
  display: flex;
}
#Section-1-png {
  height: 100%;
  width: 40%;
}
 
 
.information-about-Developer {
  height: 100%;
  width: 50%;
  position: relative;
}
.information {
  height: 200px;
  width: 300px;
 
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.information h1 {
  width: 100%;
  color:rgb(33, 30, 30);
  padding: 0.4rem 3.2rem;
}
.information h3 {
  width: 100%;
  color: rgb(25, 25, 25);
  padding: 0 4rem;
}
#Section-1-button{
    height:25px;
    width: 120px;
   background:rgb(33, 30, 30);
   color: white;
   margin-top:2rem;
   margin-right: 2rem;
   border: none;
   font-size: x-small;
}


























/*  Media Queryies Sections */
@media (max-width: 650px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html,
      body {
        height: 100%;
        width: 100%;
      }
  .main-sector {
    height: 100%;
    width: 100%;
 
  }
  .Section-1 {
    height: 100%;
    width: 100%;
 
    position: relative;
    

  }
  #Section-1-png {
    height: 100%;
    width: 40%;
    display: none;
  }
 
  .sec-1-320-png{
    height: 100%;
    width: 105%;
    position:   absolute;
 background-image: linear-gradient( rgba(255,0,0,0), rgba(99, 97, 97, 0.747)), url(../images/firstPicture.png);
 background-size:cover ;
 background-position:  center ;
 background-repeat: no-repeat;
 z-index: -1;
}

.information-about-Developer{
height: 100%;
width: 100%;
position: absolute;
z-index: 2;
  
}
.information {
    height: 200px;
    width: 300px;
   
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-55%, -60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  
  }

  .information h1 {
    width: 100%;
    height: fit-content;
    color: rgb(33, 30, 30);
    padding: 0.4rem 3.2rem;
    font-size: 3.9vh;
  
  }

  .information h3 {
    height: fit-content;
    width: 100%;    
    font-size: 1.2rem;
    font-weight: 600;
    color:rgb(25, 25, 25, );
    padding: 0 4rem;
  }
  #Section-1-button{
    height: fit-content;
      height:25px;
      width: 120px;
     background: rgb(33, 30, 30);
     color: white;
     margin-top:2rem;
     margin-right: 2rem;
     border: none;
     font-size: small;
     font-weight: 600;
     letter-spacing: 1px;
     word-spacing: 1.5px;
  }
}
